.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1200ms ease-in-out; /* 애니메이션 지속 시간과 이징 설정 */
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1200ms ease-in-out; /* 애니메이션 지속 시간과 이징 설정 */
  }