:root { 
--white_A700_4c:#ffffff4c; 
--gray_500:#a8a8a8; 
--blue_gray_100:#cfcfcf; 
--deep_orange_50_fc:#f2dfdffc; 
--gray_800:#534747; 
--blue_gray_100_01:#d9d9d9; 
--black_900_3f:#0000003f; 
--gray_800_cc:#534747cc; 
--gray_50:#fff9f9; 
--gray_100:#f4f3f3; 
--white_A700_dd:#ffffffdd; 
--black_900:#000000; 
--black_900_ea:#000000ea; 
--red_A400:#ed174d; 
--blue_gray_700:#525252; 
--blue_gray_900:#372e30; 
--white_A700:#ffffff; 
}