  .button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    padding: 10px;
    color: #555;
    width: 50px; /* 원하는 너비 설정 */
    height: 50px;
    transition: transform 0.3s ease; /* 변화가 발생할 때 애니메이션 속성 설정 */
  }
  
  .button:hover,
  .button:active {
    transform: scale(1.2); /* 버튼의 크기를 약간 키워주는 변화 */
  }